## ==========================================
## REQUIREMENTS TFG - SYSTEMD VS KUBERNETES
## ==========================================

--extra-index-url https://download.pytorch.org/whl/cpu

## Core & Utils
numpy==1.26.4
psutil==7.2.2
requests==2.25.1

## Inteligencia Artificial & Datos
tensorflow==2.21.0
tensorflow-datasets==4.9.9
tensorflow-metadata==1.17.3
scikit-learn==1.5.2
pandas==2.3.3
matplotlib==3.10.9 
seaborn==0.13.2

## PyTorch (Versión CPU)
torch==2.1.2+cpu
torchvision==0.16.2+cpu
Pillow==9.0.1 
tk

## Protocolo 1: HTTP-JSON
fastapi==0.138.1
uvicorn==0.49.0
python-multipart==0.0.32

## Protocolo 2: gRPC-Protobuf
grpcio==1.80.0
grpcio-tools==1.80.0
protobuf==6.32.0

## Protocolo 3: ZeroMQ-Protobuf
pyzmq==27.1.0
msgpack==1.1.2


## Latex vsc extension LaTex Workshop by James Yu and dependences (sudo apt update && sudo apt install texlive-full)
texlive-full
