## ==========================================
## REQUIREMENTS TFG - SYSTEMD VS KUBERNETES
## ==========================================

--extra-index-url https://download.pytorch.org/whl/cpu

## Core & Utils
numpy<2.0.0
psutil
requests

## Inteligencia Artificial & Datos
tensorflow-datasets
scikit-learn==1.5.2
pandas 
matplotlib 
seaborn

## PyTorch (Versión CPU)
torch==2.1.2+cpu
torchvision==0.16.2+cpu
pillow 
tk

## Protocolo 1: HTTP-JSON
fastapi
uvicorn
python-multipart

## Protocolo 2: gRPC-Protobuf
grpcio==1.64.1
grpcio-tools==1.64.1
protobuf==5.27.2

## Protocolo 3: ZeroMQ
pyzmq
msgpack