[Unit]
Description=Balanceador de Carga Nginx
After=network-online.target red-network.service
Requires=red-network.service

[Container]
Image={{ web_image }}
PublishPort={{ balancer_port }}:80
ContainerName=lb-edge
Network=red.network
Volume=%h/nginx-lb.conf:/etc/nginx/conf.d/default.conf:Z

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target