--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
psutil
python-multipart
torch==2.1.2+cpu
torchvision==0.16.2+cpu
numpy<2.0.0
scikit-learn==1.5.2
tensorflow-datasets
requests
protobuf==5.27.2